#keyboard-shortcuts-container{
  width: 80%;
  height: 100%;
  padding: 0 10%;
}

  #keyboard-container{
    position: relative;
    background-color: #F0F8FF;
    margin-top: 5%;
  }

    #keyboard{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      font-size: 0.5em;
    }

      .key-row{
        position: absolute;
        left: 0;
        right: 0;
      }

        .key {
          background: #282836;
          display: block;
          border: none;
          color: #FFF;
          position: absolute;
          top: 0;
          height: 100%;
          font-size: 1em;
          transition: all 0.25s ease-in-out;
        }

        .key:hover, .key.key-highlight{
          background-color: red;
        }

  #shortcuts-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background-color: #F0F8FF;
    margin-top: 5%;
    border-radius: 10px;
    font-size: 0.75em;
    padding: 5px;
    color: #282836;
  }