@import 'tables.css';
@import 'keyboard-shortcuts.css';

body {
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightsteelblue;
}

@media (max-width: 1000px) {
  body { font-size: large; }
}
@media (max-width: 500px) {
  body { font-size: medium; }
}
@media (max-width: 200px) {
  body { font-size: small; }
}