table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

tr:nth-child(even) {
  background-color: $white;
}

tr.hide {
  display: none;
}

tbody > tr:hover{
  background-color: $red;
  color: $white;
}


th, td {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  white-space: normal;
}

th {
  cursor: pointer;
  width: 33.3333%;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.9em;
  font-weight: bold;
  border-bottom: 3px solid $black;
  position: relative;
}

th.active:after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: $yellow;
}

td {
  background-color: inherit;
  text-align: center;
  word-wrap: break-word;
  word-break: break-all;
}

td:first-child{
  text-align: left;
}

td:last-child {
  text-align: right;
}