// Modules and Variables
@import "partials/base";

// Partials
//@import "partials/reset";
//@import "partials/reset";
@import "partials/anchors";
@import "partials/tables";
@import "partials/keyboards";
@import "partials/selectors";
@import "partials/shortcuts";

body {
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $aqua;
}

@media (max-width: 1000px) {
  body { font-size: 16px; }
}

@media (max-width: 500px) {
  body { font-size: 10px; }
}